<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doroute">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         taskLocation permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Need to receive a broadcast when the system reboots -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".DoRoute"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DoRoute"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/mapsKey" />
        <activity android:name=".PermissionsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.view.task_manager.TaskManagerFragment"
            android:label="@string/menu_schedules"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Global Broadcast Receiver -->
        <receiver android:name=".AppGlobalReceiver"/>

        <!-- For retrieving the broadcast sent by the system when the alarm is triggered -->
        <receiver android:name=".reminders.AlarmReceiver" />

        <!-- For listening to device reboot to reschedule alarms -->
        <receiver android:name=".reminders.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>